.format{
    width: 60px;
    height: 60px;
    background-color: aqua;
    border: thin solid;
}

h1{
    text-align: center;
}


/* #container{
    display: flex;
    flex-direction: row;
} */

#header{
    width: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    background-color: aquamarine;
}
#boardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

img{
    position: absolute;
    width: 605px;
    height: 605px;
}



 #board{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 650px;
    height: auto;
 }